<a href="https://colab.research.google.com/github/Swarnalakshmi2223/DATA_SCIENCE/blob/main/pandas_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing pandas

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [ ]:
import pandas as pd
left = pd.DataFrame({"key": ["foo", "foo"], "lrval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
print (left)
print (right)

   key  lrval
0  foo      1
1  foo      2
   key  rval
0  foo     4
1  foo     5

series of an data

In [ ]:
import pandas as pd
s = pd.Series(["A", "B", "C", "Aaba", "Bacaa", "CABA", "dog", "cat"])
s.str.lower()
print(s)

0        A
1        B
2        C
3     Aaba
4    Bacaa
5     CABA
6      dog
7      cat
dtype: object

In [ ]:
s=pd.Series([3,-5,7,4],index=['a','b','c','d'])

In [ ]:
data={'country':['india','tamilnadu','kerala'],'capital':['delhi','chennai','thiruvanadhapuram'],'population':[112233,666788,456789]}

dataframing the data

In [ ]:
df=pd.DataFrame(data,columns=['country','capital','population'])

In [ ]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - An alignable boolean Series. The index of the key will be aligned before
      masking.
    - An alignable Index. The Index of the returned selection will be the input.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`.

    Raises
    ------
    KeyError
        If any items are not found.
    IndexingError
        If an indexed key is passed and its index is unalignable to the frame index.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Alignable boolean Series:

    >>> df.loc[pd.Series([False, True, False],
    ...        index=['viper', 'sidewinder', 'cobra'])]
                max_speed  shield
    sidewinder          7       8

    Index (same behavior as ``df.reindex``)

    >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
           max_speed  shield
    foo
    cobra          1       2
    viper          4       5

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

    Please see the :ref:`user guide<advanced.advanced_hierarchical>`
    for more details and explanations of advanced indexing.

In [ ]:
s['b']

-5

In [ ]:
df[1:]

     country            capital  population
1  tamilnadu            chennai      666788
2     kerala  thiruvanadhapuram      456789

In [ ]:
s['a']

3

operators of an data in pandas

In [ ]:
s.add(s,fill_value=0)

a     6
b   -10
c    14
d     8
dtype: int64

In [ ]:
s.sub(s,fill_value=2)

a    0
b    0
c    0
d    0
dtype: int64

In [ ]:
s.mul(s,fill_value=2)

a     9
b    25
c    49
d    16
dtype: int64

In [ ]:
s.div(s,fill_value=2)

a    1.0
b    1.0
c    1.0
d    1.0
dtype: float64

In [ ]:
s3=pd.Series([7,-2,3,4],index=['a','b','c','d'])
s+s3

a    10
b    -7
c    10
d     8
dtype: int64

In [ ]:
df.sum()

country                indiatamilnadukerala
capital       delhichennaithiruvanadhapuram
population                          1235810
dtype: object

In [ ]:
df.cumsum()

                country                        capital  population
0                 india                          delhi      112233
1        indiatamilnadu                   delhichennai      779021
2  indiatamilnadukerala  delhichennaithiruvanadhapuram     1235810

In [ ]:
df.min()

country         india
capital       chennai
population     112233
dtype: object

In [ ]:
df.max()

country               tamilnadu
capital       thiruvanadhapuram
population               666788
dtype: object

describing the data

In [ ]:
df.describe()

          population
count       3.000000
mean   411936.666667
std    279985.018993
min    112233.000000
25%    284511.000000
50%    456789.000000
75%    561788.500000
max    666788.000000

In [ ]:
df.mean()

<ipython-input-26-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

population    411936.666667
dtype: float64

In [ ]:
df.median()

<ipython-input-27-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

population    456789.0
dtype: float64

In [ ]:
df.shape

(3, 3)

In [ ]:
data = {'fruit': ['Apple', 'orange', 'banana'],
        'time': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Select a single column
selected_column = df['time']

# Display the selected column
print(selected_column)

0    25
1    30
2    35
Name: time, dtype: int64

In [ ]:

data = {'Name': ['lux', 'swarna', 'manju'],
        'Age': [25, 30, 35],
        'City': ['kanchipuram', 'vellore', 'chennai']}

df = pd.DataFrame(data)
selected_columns = df[['Name', 'City']]
print(selected_columns)

     Name         City
0     lux  kanchipuram
1  swarna      vellore
2   manju      chennai

In [ ]:
data = {'Name': ['lux', 'ice', 'shari'],
        'Age': [25, 30, 35],
        'City': ['kerala', 'kashmir', 'chennai']}

df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])
selected_data = df.loc[['row1', 'row2'], ['Name', 'City']]
print(selected_data)

     Name     City
row1  lux   kerala
row2  ice  kashmir

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)
selected_data = df.iloc[[0, 1], [0, 2]]
print(selected_data)

    Name           City
0  Alice       New York
1    Bob  San Francisco

In [ ]:
data = {'A': [1, 2, 3, None, 5],
        'B': [5, 4, 3, 2, 1],
        'C': [10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

In [ ]:
print("Original DataFrame:")
print(df)

Original DataFrame:
     A  B   C
0  1.0  5  10
1  2.0  4  20
2  3.0  3  30
3  NaN  2  40
4  5.0  1  50

statistic analysis

In [ ]:

mean_values = df.mean()
median_values = df.median()
std_dev_values = df.std()
correlation_matrix = df.corr()

In [ ]:

print("\nMean values:")
print(mean_values)

print("\nMedian values:")
print(median_values)

print("\nStandard deviation values:")
print(std_dev_values)

print("\nCorrelation matrix:")
print(correlation_matrix)

Mean values:
A     2.75
B     3.00
C    30.00
dtype: float64

Median values:
A     2.5
B     3.0
C    30.0
dtype: float64

Standard deviation values:
A     1.707825
B     1.581139
C    15.811388
dtype: float64

Correlation matrix:
     A    B    C
A  1.0 -1.0  1.0
B -1.0  1.0 -1.0
C  1.0 -1.0  1.0

In [ ]:

df_filled = df.fillna(df.mean())
print("\nDataFrame after filling missing values:")
print(df_filled)

DataFrame after filling missing values:
      A  B   C
0  1.00  5  10
1  2.00  4  20
2  3.00  3  30
3  2.75  2  40
4  5.00  1  50

In [ ]:

df1 = pd.DataFrame({'A': ['A0', 'A1'],
                    'B': ['B0', 'B1']})

df2 = pd.DataFrame({'A': ['A2', 'A3'],
                    'B': ['B2', 'B3']})

# Concatenate along rows (axis=0)
result_concat_rows = pd.concat([df1, df2], axis=0, ignore_index=True)

# Concatenate along columns(axis=0)
result_concat_columns = pd.concat([df1, df2], axis=1)

# Display the results
print("Concatenate along rows:")
print(result_concat_rows)

print("\nConcatenate along columns:")
print(result_concat_columns)

Concatenate along rows:
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

Concatenate along columns:
    A   B   A   B
0  A0  B0  A2  B2
1  A1  B1  A3  B3

In [ ]:

df1 = pd.DataFrame({'Key': ['K0', 'K1'],
                    'A': ['A0', 'A1']})

df2 = pd.DataFrame({'Key': ['K0', 'K1'],
                    'B': ['B0', 'B1']})

# Merge based on the 'Key' column
result_merge = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(result_merge)

Merged DataFrame:
  Key   A   B
0  K0  A0  B0
1  K1  A1  B1